.container {
    max-width: 800px;
    margin: 100px auto 0 auto;
}

.title{
    text-align: center;
    color: #00A8CC;
    margin-bottom: 50px;
    font-size: 48px;
}

.todos{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
}

.todo{
    position: relative;
    list-style: none;
    width: 100%;
    border: 2px solid #00A8CC;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.todo:hover{
    box-shadow: 2px 2px 10px 0 #00A8CC;
    transition: .3s all;
}

.done{
    text-decoration: line-through;
    border: 2px solid #0C7B93;
    background-color: #27496D;
}

.delete{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    fill: black;
}

.delete:hover{
    transform: translateY(-2px);
    transition: .3s all;
}

.info{
    display: flex;
    justify-content: space-between;
    border: 2px solid #00A8CC;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}

.removeBtn{
    outline: none;
    background-color: #142850;
    border: 2px solid #00A8CC;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 50px;
    width: 200px;
    height: 35px;
    cursor: pointer;
}

.removeBtn:hover{
    background-color: #00A8CC;
    color: #142850;
    transition: .3s all;
}